/* The root selector that stores all the variables */
:root {
    --dark-gray: #333333;
    --font: 'Rubik', sans-serif;
}

/* Default styling for the body */
body {
    color: var(--dark-gray);
    font-family: var(--font);
}

/* Overall Styling for buttons */
button {
    border: none;
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

button:hover{
    background-color: white;
    box-shadow: 5px 5px var(--dark-gray);
}

/* Default styling for the navigation */
nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 85%;
    margin: auto;
    text-transform: uppercase;
    font-weight:600;
}

/* Make the mouse a pointer for the highscores class */
nav .highscores {
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

/* Changes the appearence of the highscore class when hovered on */
nav .highscores:hover {
    opacity: 50%;
    border-bottom: 2px solid var(--dark-gray);
}

/* Makes the highscore class italic when clicked */
nav .highscores:active {
    font-style: italic;
}

/* Basic styling for start page */
.start-page {
    /* border: 1px solid black; */
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.start-page h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.start-page p {
    line-height: 1.6em;
    margin-bottom: 40px;
}

.page-two {
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.page-two button {
    margin: 5px;
}

.page-two p {
    margin-bottom: 20px;
}

.page-three {
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.page-three button {
    margin: 5px;
}

.page-three p {
    margin-bottom: 20px;
}

.page-four {
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.page-four button {
    margin: 5px;
}

.page-four p {
    margin-bottom: 20px;
}

.page-five {
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.page-five button {
    margin: 5px;
}

.page-five p {
    margin-bottom: 20px;
}

.page-six {
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.page-six button {
    margin: 5px;
}

.page-six p {
    margin-bottom: 20px;
}

.page-seven {
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.page-seven button {
    margin: 5px;
}

.page-seven h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.page-seven form {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.page-seven form input {
    border: 2px solid rgba(0, 0, 0, 0.123);
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

.page-seven form input[type="submit"] {
    cursor: pointer;
    border: none;
    transition: all 100ms ease-in-out;
}

.page-seven form input[type="submit"]:hover {
    background-color: white;
    box-shadow: 5px 5px var(--dark-gray);
}

.page-seven p {
    display: inline;
    margin: 20px;
}

.page-eight {
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.page-eight button {
    margin: 5px;
}

.page-eight h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.page-eight p {
    display: inline;
    margin: 20px;
}

.page-nine {
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.page-nine button {
    margin: 5px;
}

.page-nine h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.page-nine p {
    display: block;
    margin: 20px;
    background-color: whitesmoke;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
}

.right {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 900;
    display: none;
}

.wrong {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 900;
    display: none;
}